

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Anket Sistemi Giriş Sayfası</title>
    <!--favicon-->
    <link rel="icon" href="~/Content/assets/images/favicon.ico" type="image/x-icon">
    <!-- Bootstrap core CSS-->
    <link href="~/Content/assets/css/bootstrap.min.css" rel="stylesheet" />
    <!-- animate CSS-->
    <link href="~/Content/assets/css/animate.css" rel="stylesheet" type="text/css" />
    <!-- Icons CSS-->
    <link href="~/Content/assets/css/icons.css" rel="stylesheet" type="text/css" />
    <!-- Custom Style-->
    <link href="~/Content/assets/css/app-style.css" rel="stylesheet" />

</head>
<body class="fc-bgevent-skeleton" style="background-color:moccasin">
    <!-- Start wrapper-->
    <div id="wrapper">
        <div class="row">
            <div class="col-md-3">
                <img src="~/Content/assets/images/olur.png" style="margin-top:40%;margin-left:100px " />
            </div>
            <div class="col-md-9">

                <div class="card card-authentication1  mx-auto  " style="background-color: papayawhip;margin-top: 10%; margin-left: 30px; height: 500px; ">
                    <div class="card-body">
                        <div class="card-content p-2">
                            <div class="text-center">
                                <img src="~/Content/assets/images/iste-logo-small.png" class="mb-2" />
                            </div>
                            <div class="card-title text-uppercase text-center  text-white" style="background-color: thistle;margin-bottom:40px">Ankete Katılmak için Doldurun</div>
                            <form class="color-form" action="/Login/SignIn2" method="post">
                                <div class="form-group">
                                    <div class="position-relative has-icon-left">
                                        <label for="exampleInputUsername" class="sr-only">NUMARANIZ</label>
                                        <input type="text" id="exampleInputUsername" name="Code" class="form-control" style="margin-bottom:30px" placeholder="NUMARANIZ" required>
                                        <div class="form-control-position">
                                            <i class="icon-user"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="position-relative has-icon-left">
                                        <label for="exampleInputPassword" class="sr-only">Sifre</label>
                                        <input type="password" id="exampleInputPassword" name="Password" class="form-control" style="margin-bottom:30px" placeholder="Sifre" required>
                                        <div class="form-control-position">
                                            <i class="icon-lock"></i>
                                        </div>
                                    </div>
                                </div>


                                <div class="form-group">
                                    <button type="submit" class="btn btn-danger btn-block waves-effect waves-light" style="background-color:black">Ankete Giris </button>
                                </div>
                                @if (ViewBag.Error != null)
                                {

                                    <div class="alert-message">
                                        <span class="btn btn-danger btn-block waves-effect waves-light"><strong>İşlem Hatali</strong>@ViewBag.Error</span>
                                    </div>

                                }

                            </form>
                        </div>
                    </div>
                </div>
            </div>



            <!--Start Back To Top Button-->
            <a href="javaScript:void();" class="back-to-top"><i class="fa fa-angle-double-up"></i> </a>
        </div>


        <!--End Back To Top Button-->
    </div><!--wrapper-->
    <!-- Bootstrap core JavaScript-->
    <script src="~/Content/assets/js/jquery.min.js"></script>
    <script src="~/Content/assets/js/popper.min.js"></script>
    <script src="~/Content/assets/js/bootstrap.min.js"></script>
    <!-- waves effect js -->
    <script src="~/Content/assets/js/waves.js"></script>
    <!-- Custom scripts -->
    <script src="~/Content/assets/js/app-script.js"></script>

</body>
</html>

