<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Arsha Bootstrap Template - Index</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="assets/img/favicon.png" rel="icon">
    <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Jost:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="~/Content/Arsha/assets/vendor/aos/aos.css" rel="stylesheet">
    <link href="~/Content/Arsha/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/Arsha/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="~/Content/Arsha/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="~/Content/Arsha/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="~/Content/Arsha/assets/vendor/remixicon/remixicon.css" rel="stylesheet">
    <link href="~/Content/Arsha/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="~/Content/Arsha/assets/css/style.css" rel="stylesheet">

    <!-- =======================================================
    * Template Name: Arsha - v4.7.1
    * Template URL: https://bootstrapmade.com/arsha-free-bootstrap-html-template-corporate/
    * Author: BootstrapMade.com
    * License: https://bootstrapmade.com/license/
    ======================================================== -->
</head>

<body>

    <!-- ======= Header ======= -->
    <header id="header" class="fixed-top ">
        <div class="container d-flex align-items-center">

            <h1 class="logo me-auto"><a href="#hero">İSTE Anket SİSTEMİNE HOŞGELDİNİZ</a></h1>
            <!-- Uncomment below if you prefer to use an image logo -->
            <!-- <a href="index.html" class="logo me-auto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

            <nav id="navbar" class="navbar">
                <ul>
                    <li><a class="nav-link scrollto active" href="#hero">Anasayfa</a></li>
                    <li><a class="nav-link scrollto" href="#about">Hakkımda</a></li>
                    <li><a href="/Login/SignIn/" class="nav-link scrollto">Admin Giriş</a></li>
                    <li><a href="/Login/SignIn2/" class="nav-link scrollto">Ankete Katıl</a></li>



                </ul>
                <i class="bi bi-list mobile-nav-toggle"></i>
            </nav><!-- .navbar -->

        </div>
    </header><!-- End Header -->
    <!-- ======= Hero Section ======= -->

    <section id="hero" class="d-flex align-items-center">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 d-flex flex-column justify-content-center pt-4 pt-lg-0 order-2 order-lg-1" data-aos="fade-up" data-aos-delay="200">
                    <div class="row">
                        <div class="col-md-4">
                            <img src="~/Content/assets/images/iste-logo-small.png" />
                        </div>
                        <div class="col-md-8">
                            <h1>İskenderun Teknik Üniversitesi </h1>
                            <h2>Bilgisayar Mühendisliği Anket Sistemi</h2>
                            <div class="d-flex justify-content-center justify-content-lg-start">
                                <a href="https://iste.edu.tr/" class="btn-get-started scrollto">Üniversitemizi Buraya Tıklayarak Ziyaret Edebilirsiniz</a>
                                <a href="https://www.youtube.com/watch?v=EBCF46Hp7oQ&ab_channel=%C4%B0skenderunTeknik%C3%9CniversitesiHavac%C4%B1l%C4%B1kToplulu%C4%9Fu" class="glightbox btn-watch-video"><i class="bi bi-play-circle"></i><span>Video</span></a>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="zoom-in" data-aos-delay="200">
                    <img src="assets/img/hero-img.png" class="img-fluid animated" alt="">
                </div>
            </div>
        </div>

    </section><!-- End Hero -->

    <main id="main">

        <!-- ======= Clients Section ======= -->
        <section id="clients" class="clients section-bg">
            <div class="container">

                <div class="row" data-aos="zoom-in">

                    <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
                        <img src="~/Content/assets/img/clients/client-1.png" class="img-fluid" alt="">
                    </div>

                    <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
                        <img src="~/Content/assets/img/clients/client-2.png" class="img-fluid" alt="">
                    </div>

                    <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
                        <img src="~/Content/assets/img/clients/client-3.png" class="img-fluid" alt="">
                    </div>

                    <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
                        <img src="~/Content/assets/img/clients/client-4.png" class="img-fluid" alt="">
                    </div>

                    <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
                        <img src="~/Content/assets/img/clients/client-5.png" class="img-fluid" alt="">
                    </div>

                    <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
                        <img src="~/Content/assets/img/clients/client-6.png" class="img-fluid" alt="">
                    </div>

                </div>

            </div>
        </section><!-- End Cliens Section -->
        <!-- ======= About Us Section ======= -->
        <section id="about" class="about">
            <div class="container" data-aos="fade-up">

                <div class="section-title">
                    <h2>Hakkımda</h2>
                </div>

                <div class="row content">
                    <div class="col-lg-6">
                        <p>
                            İSKENDERUN TEKNİK ÜNİVERSİTESİ
                            İskenderun Teknik Üniversitesi olarak bizim temel hedefimiz, kendine özgü bir eğitim/öğretim ve araştırma modeli oluşturarak, inovasyonu ve girişimciliği önceleyen ve teknolojiye odaklanan "özgün" bir üniversite olmaktır.
                        </p>
                        <p>
                            Kullandığım Programlama Dilleri
                        </p>
                        <ul>
                            <li><i class="ri-check-double-line"></i> C#</li>
                            <li><i class="ri-check-double-line"></i> Html</li>
                            <li><i class="ri-check-double-line"></i> JavaScript</li>
                            <li><i class="ri-check-double-line"></i> Microsoft Sql Server Management Studio 18</li>
                        </ul>
                    </div>
                    <div class="col-lg-6 pt-4 pt-lg-0">
                        <p>
                            Merhaba ben İsmail Özdoğan İskenderun Teknik Üinversitesi Bilgisayar Mühendisliği son sınıf öğrencisiyim Sertan Alkan Hocamızın verdiği Merve Hocamızın değerlendirdiği :)) anket sistemi projeme hoşgeldiniz bu sitede eğlence amaçlı olarak hocalarımızı belirli sorularla anketliyoruz umarım eğlenirsiniz.
                        </p>
                        <p>
                          Anketteki Hocalarımız
                        </p>
                        <ul>
                            <li><i class="ri-check-double-line"></i> Sertan Alkan</li>
                            <li><i class="ri-check-double-line"></i> Merve Nilay Aydın</li>
                            <li><i class="ri-check-double-line"></i> Gokhan Altan</li>
                            <li><i class="ri-check-double-line"></i> Yakup Kutlu</li>
                            <li><i class="ri-check-double-line"></i> Levent Karaca</li>
                            <li><i class="ri-check-double-line"></i> İpek Abasıkeleş Turgut</li>
                            <li><i class="ri-check-double-line"></i> Ahmet Gökçen</li>                        
                        </ul>
                    </div>
                </div>
                @RenderBody()
            </div>
        </section><!-- End About Us Section -->

    </main><!-- End #main -->
    <!-- ======= Footer ======= -->
    <footer id="footer">




        <div class="container footer-bottom clearfix">
            <div class="copyright">
                &copy; Copyright <strong><span>Arsha</span></strong>. All Rights Reserved
            </div>
            <div class="credits">
                <!-- All the links in the footer should remain intact. -->
                <!-- You can delete the links only if you purchased the pro version. -->
                <!-- Licensing information: https://bootstrapmade.com/license/ -->
                <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/arsha-free-bootstrap-html-template-corporate/ -->
                Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
            </div>
        </div>
    </footer><!-- End Footer -->

    <div id="preloader"></div>
    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

    <!-- Vendor JS Files -->
    <script src="~/Content/Arsha/assets/vendor/aos/aos.js"></script>
    <script src="~/Content/Arsha/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/Content/Arsha/assets/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="~/Content/Arsha/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="~/Content/Arsha/assets/vendor/swiper/swiper-bundle.min.js"></script>
    <script src="~/Content/Arsha/assets/vendor/waypoints/noframework.waypoints.js"></script>

    <!-- Template Main JS File -->
    <script src="~/Content/Arsha/assets/js/main.js"></script>

</body>

</html>
